@page
@model pomodoro_timer.Pages.AboutModel
@{
}

<main class="container">
    <section>
        <h1 class="my-md-5">Who</h1>
    </section>
    <article>
        <p>Alex and Brian are just a couple of very very... very novice programmers trying to get some experience building good code</p>
    </article>
    <section>
        <h1 class="my-md-5">Why</h1>
    </section>
    <article>
        <p>There are many reasons why we have decided to start learning to code:</p>
        <ol>
            <li>Be able to create in a digital world</li>
            <li>Earn an income that allow our wives to stay at home if they choose</li>
            <li>Have job satisfaction at the end of each day</li>
            <li>And quite frankly, we are chasing that high of solving complex problems. Once you get a taste, it's hard to go back to the mundain</li>
        </ol>
    </article>
    <section>
        <h1 class="my-md-5">How</h1>
    </section>
    <article>
        <p>To start, we will work on self directed projects to hone our skills while seeking out unpaid volunteer work.</p>
    </article>
</main>