@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <main class="container text-center">
        <section>
            <h1 class="my-md-5 border-bottom border-dark border-5">Welcome to our Project</h1>
        </section>
        <figure class="my-md-5">
            <img src="/images/tomato.jpg" alt="photo of a red tomato" style="width:128px;height:128px">
        </figure>

        <article>
            <p class="font">Brian and Alex are creating a website that will help you focus!</p>
            <p>We found that there is a technique that helps keep us on track!</p>
        </article>
    </main>

    <!--This is the footer and will have contact information ect-->  

</div>
