@page
@model pomodoro_timer.Pages.TimerModel
@{
}

<main class="container text-center">
    <section>
        <h1 class="my-md-5 border-bottom border-dark border-5">The Timer</h1>
    </section>
    <article>
        <p id="timer" class="font-weight-bold">25:00</p>
        <form id="customTimer" action="">
            <p>Minutes</p>
            <input id="userInput" type="number" class="form-control-lg">
            <button type="button" form="customTimer" class="btn btn-warning" onclick="submitCustomInput()">Submit</button>
        </form>
        <button id=start type="button" class="btn-primary">Start</button>
        <button id="stop" type="button" class="btn-secondart">Stop</button>
        <button id="reset" type="button" class="btn-danger">Reset</button>
        <p style="font-style: italic;"><br> <br> Click the timer to customize your focus period</p>
    </article>

    <section>
        <h1 class="my-md-5 border-bottom border-dark border-5">The Counter</h1>
    </section>
    <article>
        <p id="count" class="font-weight-bold">00:00</p>
        <button id=startC type="button" class="btn-primary">Start</button>
        <button id="stopC" type="button" class="btn-secondart">Stop</button>
        <button id="resetC" type="button" class="btn-danger">Reset</button>
    </article>
</main>

